.bc-card-div {
  background-color: var(--colour-light-grey);
  transition: all 900ms linear;
  -moz-transition: all 900ms linear;
  -webkit-transition: all 900ms linear;
}

.bc-card-div:hover {
  background-color: var(--colour-dark-grey);
}

.line-link {
  color: var(--secondary-colour);
}

.line-link:hover {
  color: var(--accent-colour);
}
