.bc-card-div {
  background-color: var(--colour-light-grey);
  border: 2px solid transparent;
  border-radius: 20px;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}

.bc-card-div:hover {
  border-color: var(--colour-dark-grey);
}

.line-link {
  color: var(--secondary-colour);
}

.line-link:hover {
  color: var(--accent-colour);
}
