footer {
  background-color: var(--primary-colour-tint);
  color: var(--accent-colour-light);
}

.footer-nav {
  color: var(--accent-colour-light);
  text-decoration: none;
}

.footer-link {
  color: var(--accent-colour-light);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-colour-light);
}

.footer-nav:hover,
.footer-link:hover {
  color: var(--colour-white);
}

.quote-footer {
  background-color: inherit;
  color: var(--accent-colour);
}

hr {
  border: .5px solid var(--accent-colour-light);
}
 @media only screen and (min-width: 60em) {
  .footer-logo {
    padding-left: 1em;
  }
 }
