---
layout: default
title: Partnership
meta: Currently, we are partnered with over hundreds of different businesses in the Ottawa area, keeping the partnership local and close to home

heroImage: hero-image-two
heroTitle: BottleWorks at work
heroWidth: max-widthsmallertitle
heroHone: ALL IT TAKES IS YOUR BOTTLES, OUR TEAM & THE VAN
heroText: As we continue to expand we are always looking for new opportunities for partnership
heroBtn: LEARN MORE
heroGhost: BECOME A CLIENT
heropGhostlink: /become-client/
heropBtnlink: /about-us/

articleSectionTitle: Our Partnership
articleSectionText: We are partnered with hundreds of businesses as clients in the Ottawa area, keeping the partnership local and close to home. These businesses are located throughout Ottawa, with a majority located in the central core of the city. In Ottawa’s downtown/ByWard Market area, some of our clients include restaurants such as&#x3a; <i class='italics'>Sidedoor, Eighteen, Milestones, Vittoria Trattoria, and the Mill Street Brewery</i>. We also have partnerships with several conference centres, condominiums, and private residences.

learnSectionClass: learn-section
learnSectionTitle: How you can get involved
learnSectionText: Whether you are restaurant, a commercial business or an individual, instead of throwing your bottles away, contact us and we will collect them for you.
learnSectionBtn: BECOME A CLIENT
learnLink: /become-client/

becomeInvolvedTitle: Putting your empties to work
becomeInvolvedText: We offer various options for pick-up services for our partnering businesses. Our clients can schedule weekly, bi-weekly, monthly pickups or on-call. <br>Pick-up time is Monday-Friday between 8:30 am-4:00 pm.
becomeInvolvedLink: true
emptyClass: learn-section-three
---

{% include hero-banner.html%}
{% include article-section.html%}
{% include testimonials.html id=0 %}
{% include graph-info.html%}
{% include empty-work.html %}
{% include learn-section.html%}
