<footer role="contentinfo" class="gutter-2 pad-t-2 pad-b-1-2 {% if page.footerClass %}{{page.footerClass}}{% endif %}">

  <div class="grid pad pad-t gutter wrapper">
    <div class="unit [ xs-1 s-1 m-2-3 l-2-3 ] pad-t">
      <div class="grid">
        <div class="unit [ xs-1 s-1 m-1-3 l-1-3 ] pad-b footer-logo">
          <div>
            <i class="icon i-96"><img class="logo" src="../images/logo-white.svg" alt=""></i>
          </div>
        </div>
        <div class="unit [ xs-0 s-0 m-1-3 l-1-3 ]"><!--Empty div --></div>
        <nav class="unit [ xs-1 s-1 m-1-3 l-1-3 ] ">
          <ul class="list-group push-0">
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="/index/" aria-details="click here to go to home">HOME</a></li>
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="/about-us/" aria-details="click here learn more about us">ABOUT US</a></li>
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="/social-enterprise/" aria-details="click here to read about our social enterprise">SOCIAL ENTERPRISE MODEL</a></li>
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="/partnership/" aria-details="click here learn more about our partnership">PARTNERSHIP</a></li>
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="/become-client/" aria-details="click here see how to become a client">BECOME A CLIENT</a></li>
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="/drop-off/" aria-details="click here to see drop-off location">GROWLER EXCHANGE</a></li>

          </ul>
        </nav>
      </div>
    </div>

    <div class="unit [ xs-1 s-1 m-1-3 l-1-3 ] pad-t">
      <p class="push-0">
        <span class="nano block bold">SAMANTHA HASKINS</span>
        <span class="pico block">BottleWorks Program Coodinator</span>
        <span class="pico block"><a class="footer-nav" href="mailto:bottleworks@operationcomehome.ca">bottleworks@operationcomehome.ca</a></span>
        <span class="pico block">OFFICE: <a class="footer-nav" href="tel:+6132304663">(613) 230-4663</a></span>
      </p>
    </div>

    <div class="unit [ xs-1 s-1 m-1 l-1 ] pad-t-2">
      <hr>
    </div>
    <div class="unit [ xs-1 s-1 m-1 l-1 ] text-center pad-t-1-2">
      <p class="pico">© <span>2019 BottleWorks · Website designed and developed by SLiDE </span> <em class="italic">visit:</em> <a href="https://slidelab7.ca" class="footer-link">slidelab.ca</a></p>
    </div>

  </div>


</footer>
