 <section class="graph-section pad-t-2 pad-b-2">
  <div class="island-2 wrapper">
    <h2 class="not-bold mega gutter-2 push-0">FEATURED CLIENT</h2>
    <div class="grid grid-middle">
      <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] island-2">
        <div class="embed embed-3by2 graph-client push-r">
          <img class="embed-item graph-image" src="" alt="photo of featured client's logo">
        </div>
      </div>
      <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] gutter-1-4">
        <dl class="pad-t-1-2 push-0">
          <dt class="graph-partner-name bold"></dt>
          <dd class="push-0"><em class="graph-bottles bold not-italic green-text push-0">####</em> Bottles Donated</dd>
        </dl>
        <canvas id="myChart"></canvas>
        <span class="green-text pico"><em class="bold not-italic bottles-total">###</em> Average bottles collected per year</span>
      </div>
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="{{site.baseurl}}/js/api.js"></script>
  <script src="{{site.baseurl}}/js/chartInfo.js"></script>



</script>
