<section>
  <div class="{{page.heroImage}}"></div>
  <div class="absolute pin-lc pad-t-2">
    <div class="pad-t-2"><!--- empty div for spacing--></div>
    <div class="gutter-2 pad-t-2">
      <h1 class="normal pad-t-2 push-0 tena {{page.heroWidth}}">{{page.heroHone}}</h1>
      <p class="max-widthtext mega">{{page.heroText}}</p>
      {% if page.heroGhost %}
        <a href="{{site.baseurl}}/{{page.heropGhostlink}}" class="btn btn-ghost milli push-r-1-2 push-1-2">{{page.heroGhost}}</a>
      {% endif %}
      {% if page.heroBtn %}
        <a href="{{site.baseurl}}/{{page.heropBtnlink}}" class="btn milli">{{page.heroBtn}}</a>
      {% endif %}
    </div>
  </div>
</section>
