<section class="partners-carousel island-2">
  <div class="grid">

    <div class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure>
        <div class="embed pl-container">
          <img class="img-flex" src="{{site.baseurl}}/images/logo.svg" alt="">
        </div>
        <figcaption class="white-text pad-t-1-2 micro text-center">22,897 Bottles shared</figcaption>
      </figure>
    </div>

    <div class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure>
        <div class="embed pl-container">
          <img class="img-flex" src="{{site.baseurl}}/images/logo.svg" alt="">
        </div>
        <figcaption class="white-text pad-t-1-2 micro text-center">10,209 Bottles shared</figcaption>
      </figure>
    </div>

    <div class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure>
        <div class="embed pl-container">
          <img class="img-flex" src="{{site.baseurl}}/images/logo.svg" alt="">
        </div>
        <figcaption class="white-text pad-t-1-2 micro text-center">10, 260 Bottles shared</figcaption>
      </figure>
    </div>

    <div class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure>
        <div class="embed pl-container">
          <img class="img-flex" src="{{site.baseurl}}/images/logo.svg" alt="">
        </div>
        <figcaption class="white-text pad-t-1-2 micro text-center">3,454 Bottles shared</figcaption>
      </figure>
    </div>

    <div class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure>
        <div class="embed pl-container">
          <img class="img-flex" src="{{site.baseurl}}/images/logo.svg" alt="">
        </div>
        <figcaption class="white-text pad-t-1-2 micro text-center">12,541 Bottles shared</figcaption>
      </figure>
    </div>

    <div class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure>
        <div class="embed pl-container">
          <img class="img-flex" src="{{site.baseurl}}/images/logo.svg" alt="">
        </div>
        <figcaption class="white-text pad-t-1-2 micro text-center">1,427 Bottles shared</figcaption>
      </figure>
    </div>


  </div>
</section>
