<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{%if page.homepage %} {{page.homepage}} {% else %} {{page.title}} · BottleWorks {% endif %}</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel="shortcut icon" href="../favicon.ico">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>

  {% include nav.html %}
  <main role="main" tabindex="0" id="main">
    {{content}}
  </main>
  {% include footer.html %}

  <script src="/js/nav.js"></script>

  <script type="application/jd+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "BottleWorks",
    "logo" : "../images/logo-regular.svg",
    "employee": "Samantha Haskins"
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "150 Gloucester St",
      "addressLocality": "Ottawa",
      "addressRegion": "ON",
      "addressCountry": "CA",
      "postalCode": "K2P 0A6"
    },
    "email": "bottleworks@operationcomehome.ca",
    "tel": "+16132304663",
    "website": "https://bottleworks.ca"
    "sameAs": [
      "https://twitter.com/ochottawa",
      "https://twitter.com/ochbottleworks1",
    ]
  }
</script>

</body>
</html>
